@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Press Start 2P", sans-serif;
}
div{
    position: relative;
    width: 100%;
    height: 100vh;
}
canvas{
    background-color: #333;
}

.btm, .btm2 {
    position: absolute;
    bottom: 10px;
    width: 50px;
    height: 50px; 
    z-index: 1; 
    display: none;
  }

  .btm {
    left: 10px;
  }

  .btm2 {
    left: 70px; 
  }

  @media (max-width: 992px) {
    .btm, .btm2, .btmTiro {
      display: block;
    }
  }